/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'calculator';
	src: url('/fonts/calc.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.calculator {
	font-family: 'MyCustomFont', sans-serif;
}
